@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var hub = $.connection.highchartsHub;
        });
    </script>
}

<h2>Index</h2>

<button id="testehub">Hello SignalR!</button>


<div id="signalr-result"></div>