@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/senhas-hub.js")"></script>
    <script type="text/javascript">
        $(function () {

            var guiche = new SenhasHub.Cliente();

            $.connection.hub.start(function () {
                guiche.init();
            });

            ko.applyBindings(guiche);
        });
    </script>
}

<h2>Guichê</h2>

<div class="row">
    <div class="span2">
        <p>Senha atual: <strong><span data-bind="text: senhaAtual"></span></strong></p>
    </div>
</div>
<div class="row">
    <div class="span5">
        <button class="btn btn-primary" data-bind="click: proximaSenha">Próxima senha</button>
    </div>
</div>
