<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GenesisEntities" connectionString="metadata=res://*/EF.Genesis.csdl|res://*/EF.Genesis.ssdl|res://*/EF.Genesis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlserver;initial catalog=BDGenesis2011_Des;persist security info=True;user id=ITGR_Manager;password=/password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEEntities" connectionString="metadata=res://*/EF.PE.csdl|res://*/EF.PE.ssdl|res://*/EF.PE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlserver;initial catalog=BCK_PE_DN;persist security info=True;user id=itgr_manager;password=/password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>